@font-face{
  font-family: "Shilia-black";
  src: url("./fonts/Shilia-830Black.ttf")
}
@font-face{
  font-family: "Shilia-regular";
  src: url("./fonts/Shilia-430Regular.ttf")
}

@font-face{
  font-family: "Shilia-medium";
  src: url("./fonts/Shilia-530Medium.ttf")
}
@font-face{
  font-family: "Shilia-bold";
  src: url("./fonts/Shilia-630Bold.ttf")
}

body, html {
  height: 100%;
  background-image:linear-gradient(1deg,rgba(97, 13, 62, 0.336),rgba(221, 145, 73, 0.336)), url("./bg2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Shilia-regular"
}

.story-text{
  font-family: "Shilia-regular"
}

.title{
  font-family: 'Shilia-black';
  color : white;
  font-size: 60px;
}

.mask-title{
  font-family: 'Shilia-medium'
}
.subtitle{
  font-family: 'Shilia-bold'
}

button,a,Link{
  font-family: "Shilia-medium";
  font-size: 18px !important;
  color: white;
}

.bg {
  /* The image used */

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
}